<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments :: risorse-head"></th:block>
    <title>Pizza shop</title>  
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body >
    <div th:replace="fragments :: navbar('current')"></div>
    <div class="container-fluid" >
        <h1 class= text-center>Benvenuto nella home della pizzeria</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   </hr>
    <h3 class = text-center>Questa è la lista delle nostre pizze:</h3>
    </div>
    </hr>
    <div class="container" th:if="${pizza.size() > 0}">
    <table class="table table-striped border">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Descrizione</th>
					<th>Prezzo</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="p: ${pizza}">
					<td th:text="${p.name}"></td>
					<td th:text="${p.description}"></td>
					<td th:text="${p.price}"></td>
					<td>
						<a class="btn btn-danger" title="Delete" th:href="@{|/delete/${p.id}|}" onclick="return confirm('Sei sicuro?')"><i class="fa-solid fa-ban">Delete</i></a>
						<a class="btn btn-warning" title="Edit" th:href="@{|/edit/${p.id}|}"><i class="fa-solid fa-pen-to-square">Edit</i></a>
					</td>
				</tr>
			</tbody>
	</table>
    </div>
   			    <div class="container">
    			<p th:unless="${pizza.size() > 0}" class="text-center">Non ci sono pizze</p>
    			<div class="col text-center">
				<a class="btn btn-danger" href="/add">Aggiungi pizza</a>
    			</div>
	            </div>
  </body>
</html>